html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.header {
  margin-top: 150px;
}

.menu {
  text-align: right;
}

.menu > a {
  font-size: 0.9em;
  text-decoration: none;
}

.header > a > img {
  width: 300px;
}


.form-bar {
    display: flex;
    width : 500px;
    margin: 0 auto;
    box-shadow:0 1px 6px 0 rgba(32, 33, 36, .28);
    height: 45px;
    border-radius: 30px;
    border: 1px solid white;
    text-indent: 15px;
    justify-content: normal;
    align-items: center;
}



.search {
  outline: none;
  border: none;
}

.section {
  margin: 30px 0px 80px 0;
}

.section-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

.section-contents > div > img {
  margin: 10px 10px;
}


.footer {
  margin-bottom: 200px;
}